/* roboto-regular - latin_vietnamese */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v15-latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v15-latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v15-latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v15-latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v15-latin_vietnamese-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Roboto";
    color: #444;
    font-weight: 400;
}
.do{
    color: red;
}
.container {
    padding: 0px;
}
ol,ul,p{
    margin: 0px;
    list-style: none;
}
a:hover {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6
{
    padding:0px;
    margin: 0px;
}
.boxred
{
    borrder:1px solid red;
}
/* =================HEADER================== */

#header-top {
    border-bottom: 1px solid #e3e3e3;
}

#header-text a{
    color: white;
    background-color: rgb(230, 126, 34);
    padding:5px 7px;
    line-height: 35px;
    border-radius: 3px;
    margin-right: 10px;
}
#header-nav-top #headermenu
{
    position: relative;
}
#headermenu > li{
    border-left: 1px solid #e3e3e3;
}

#header-nav-top li a {
    color: #444;
    line-height: 35px;
    padding: 0 12px;
}


#headermenu > li:hover > a,#headermenu > li:hover > a > i {
    color: rgb(234, 58, 60);
}
#header-nav-top li:hover a{
    text-decoration: none;
}


#header-submenu
{
    display: none;
    position: absolute;
    border: 1px solid #e3e3e3;
    width: 41%;
    margin-top: 30px;
    margin-left: -90px;
    z-index: 999999999;
    background: white;
}

#header-submenu li:hover
{
    background-color: #ea3a3c;
    color: white;
}

#header-submenu li:hover a
{
    color: white;
}

#headermenu li:hover  #header-submenu
{
    display: inline-block;
}




/* ====================MENUNAV================== */
#menunav {
    background: #444;
}
#menunav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0 15px;
}
#menunav ul li:hover{
    background: grey;
}
#menunav ul li a{
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
#timkiem{
    position: relative;
    width: 200px;
    margin-top: 25px;
}
#timkiem input{
    position: absolute;
    z-index: 2;
}
#timkiem button{
    position: absolute;
    z-index: 3;
    margin-left: 160px;
    border: none;
}
/* =================MAIN CONTENT ================= */
#maincontent
{
    margin-top: 25px;
}
.anh-chay{
    width: 90%;
    height: 220px;
}
.ban ul li {
    text-align: center;
}
.ban ul li a{
    color: black;
    font-size: 18px;
}
.ban ul li:nth-child(3){
    text-overflow: ellipsis;
    overflow: hidden;
}
.ban ul li:nth-child(4) a{
    color: red;
}
.ban ul li:last-child a{
    color: white;
    font-size: 14px;
}
.ban ul li a .gia-goc{
    font-size: 14px;
}
.ban ul li a h3{
    text-transform: uppercase;
}
.ban ul li a h4{
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ban ul li a b{
    color: red;
    font-size: 16px;
}
.an{
    visibility: hidden;
}

/* menud a cap */
.box-menu > ul
{
    position: relative;
}
.box-menu > ul > li > ul
{
    position:  absolute;
    left: 100%;
    /*top: 0px;*/
    width: 70%;
    background: white;
    z-index: 9999999;
    margin-top: -27px;
    display: none;
}
.box-menu > ul > li > ul > li
{
    padding: 10px 25px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.box-menu > ul > li > ul > li > a
{
    font-size: 11px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.box-menu > ul > li > ul > li:hover a
{
    color: #ea3a3c;
    cursor:pointer;
}
.box-menu > ul > li:hover ul
{
    display: block;
}
/* menu da cap */
.box-menu > ul > li
{
    padding: 10px 25px;
    border-bottom: 1px solid #e3e3e3;

}
.box-menu > ul > li > a
{
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.box-menu > ul > li:hover
{
    background: rgba(138, 138, 138, 0.2);
}
.box-menu > ul > li:hover > a
{
    color: #ea3a3c;
    cursor:pointer;
}
.sale
{
    text-decoration: line-through;
    color: #999;
}
.name
{
    white-space: nowrap;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-transform: none;
}
.name:hover
{
    color: #e74847;
}
.info b
{
    padding: 7px 5x;
    color: wheat;
}
.box-menu{
    background: black;
}
.box-menu h3, .box-menu h3 i{
    color: white;
    padding: 10px;
}
.box-menu ul li a{
    color: white;
}

#sankm{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*chi tiet san pham*/
.ban .sp{
    display:block;
    position: relative;
}
.ban .sp ul li{
    /*text-overflow: ellipsis;*/
    overflow: hidden;
}
.ban .km{
    display: block;
    position: absolute;
    margin-left: 204px;
    margin-top: -255px;
    width: 50px;
}
.tron{
    border-radius: 100%;
}
.ban .new{
    display: block;
    position: absolute;
    margin-right: 104px;
    margin-top: -330px;
    width: 50px;
}

/* =================FOOTER================= */

#footer
{
    background: #444;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

.tongsogh
{
    padding: 7px 10px;
    background: red;
    margin-right: 20px;
    margin-left: 5px;
    color: white;
    border-radius: 4px;
}


#dienthongtin .input-group
{
    padding-top: 20px;
}

.post
{
    width: 80%;
    height: 160px;
    padding: 10px;
}

.post .names
{
    margin-top: 10px;
    font-size: 16px;

}

.names a
{
    color: #444;
    font-size: 16px;
    margin-bottom:10px;
}
.names:hover a
{
    color: #ea3a3c;
}

#tintuc .col-md-12
{
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

#imgmain
{
    width: 70%;
    text-align: center;
    line-height: 40px;
    margin:20px auto;
}

#imgdetail > li
{
    padding-left: 32px;
}

#right > li
{
    float: none;
}

#tabdetail
{
    margin-top: 20px;

}

.tab-content
{
    padding: 20px;
}

#right h3
{
    font-weight: 700;
    color: #444;
    font-size: 20px;
}



#right .btn-default,#right i
{
    background: #666;
    color: white;
    box-shadow: none;
    border-radius: 0px;
    padding: 4px 7px;
}
#right:hover .btn-default,#right:hover i
{
    background: #ea3a3c;
}

#imgdetail > li
{
    border-right: 1px solid #e3e3e3;

}

#right li
{
    padding: 8px;
}

/* ============ FOOTER  */

#shareicon
{
    background: #3A3A3A;
}

#shareicon ul li
{
    float: left;
}

#shareicon ul li:hover i
{
    color: #ea3a3c;
}
#shareicon ul li i
{
    font-size: 20px;
    color: white;
    padding: 18px;
    margin-right: 10px;
}

#ft-about
{
    padding: 15px;
}

#ft-about p
{
    padding-top: 20px;
    padding-bottom:20px;
    line-height: 22px;
    color: #444;
    font-size: 12px;
    font-weight: 500;
}


.tittle-footer
{
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    line-height: 15px;
    padding: 10px 20px;
    font-size: 20px;

}

.box-footer
{
    border-left: 1px solid #e3e3e3;
    margin-top: 20px;
}
.box-footer ul li
{
    padding-left: 20px;
}
.box-footer ul li a
{
    line-height: 25px;
    padding: 5px 10px;
    color: #444;
}

.box-footer ul li:hover a ,.box-footer ul li:hover i
{
    color: #ea3a3c;
}

#footer-support
{
    padding-top:20px;
}


#footer-support i
{
    color: #ea3a3c;
}


#footer-support p
{
    font-size: 13px;
    padding: 5px 5px;
}

#footer-button
{
    background: #eeeeee;
}

#ft-bottom
{
    padding: 5px;
    background: #DDDDDD;
    color: #444;
}


/*chi tiet san pham*/
#anh-to{
    width: 90%;
    height: 400px;
}
.anh-nho-duoi .anh-nho{
    border: 1px solid black;
    height:  120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: none;
    margin-bottom: 30px;
}
.anh-nho-duoi .anh-nho:first-child{
    border-left: 1px solid black;
}
.anh-nho-duoi .anh-nho img{
    width: 80%;
    height: 100px;
}

.sp_con p{
    font-size: 16px;
}
.sp_con, .bt-xuly{
    margin-top: 20px;
}
.dangky_css label{
    margin-top: 10px;
}
.class_sp .col-md-4{
    padding: 20px 10px;
    border: 5px solid #8080801a;
}
.ban{
    padding: 20px 10px;
    border: 5px solid #8080801a;
}
@media (max-width: 768px) and (min-width: 486px){

    .container{
        width: 90%;
    }
    #timkiem{
        position: relative;
        width: 100px;
        margin-top: 5px;
    }
    #timkiem input{
        position: absolute;
        z-index: 2;
        width: 100%;
    }
    #timkiem button{
        position: absolute;
        z-index: 3;
        margin-left: 80px;
        border: none;
    }
    #menunav ul li{
        line-height: 60px;
    }
    #menunav ul li a{
        font-size: 14px;
    }
    #timkiem{
        padding: 10px;
        /*position: relative;*/
    }
    #timkiem input{
        width: 150px;
    }
}

@media (max-width: 486px) and (min-width: 320px){
    .container{
        width: 90%;
    }
    #header-text a, #header-text b{
        font-size: 16px;
        font-style: italic;
    }
    #headermenu a{
        font-size: 16px;
        font-style: italic;
    }
    #timkiem{
        margin-top: 10px;
        /*position: relative;*/
    }
    /*#timkiem input{
        width: 150px;
    }*/
    #menunav ul li{
        line-height: 60px;
    }
    #menunav ul li{
        padding: 0 10px;
    }
    #menunav ul li a{
        font-size: 14px;
    }
    .box-menu > ul > li > a{
        font-style: 28px;
        background: #444;
    }
    .ban ul li a h4{
        font-size: 25px;
    }
    .ban ul li a b{
        font-size: 25px;
        color: blue;
    }
    .ban ul li a .gia-goc{
        font-size: 20px;
    }
    .badge .pull-left .mb, .badge.pull-right .mb {
        font-size: 20px;
        color: black;
        background: right;
        font-style: italic;
    }
    .container h1{
        font-size: 25px;
    }
    .box-footer ul li a{
        font-size: 20px;
    }
    #footer-support p{
        font-size: 16px;
    }
}